---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            overscroll-behavior: none;
        }
        #container{
            width: 100vw;
            height: 100vh;
        }
        canvas{
            display: block;
        }
    </style>
	<main>
		<div id="container"></div>
		<style>
			@import '@assets/style/app.css';
		</style>
		<script>
			import '@assets/script/app.js'
		</script>
	</main>
</Layout>
